<a href="https://colab.research.google.com/github/yeonui-0626/lstm/blob/main/lstm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
import io

import numpy as np
from pandas import read_csv
from datetime import datetime
from pandas import DataFrame
from sklearn import preprocessing
from sklearn.metrics import mean_squared_error
from matplotlib import pyplot
from pandas import concat

In [ ]:

data = pd.read_csv('./Friday-02-03-2018_TrafficForML_CICFlowMeter.csv', index_col=2)
data.head()

                     Dst Port  Protocol  ...  Idle Min   Label
Timestamp                                ...
02/03/2018 08:47:38       443         6  ...       0.0  Benign
02/03/2018 08:47:38     49684         6  ...       0.0  Benign
02/03/2018 08:47:40       443         6  ...       0.0  Benign
02/03/2018 08:47:40       443         6  ...       0.0  Benign
02/03/2018 08:47:41       443         6  ...       0.0  Benign

[5 rows x 79 columns]

In [ ]:
data = data[['Label','Dst Port', 'Protocol', 'Flow Duration', 'Tot Fwd Pkts', 'Tot Bwd Pkts',
       'TotLen Fwd Pkts', 'TotLen Bwd Pkts', 'Fwd Pkt Len Max',
       'Fwd Pkt Len Min', 'Fwd Pkt Len Mean', 'Fwd Pkt Len Std',
       'Bwd Pkt Len Max', 'Bwd Pkt Len Min', 'Bwd Pkt Len Mean',
       'Bwd Pkt Len Std', 'Flow Byts/s', 'Flow Pkts/s', 'Flow IAT Mean',
       'Flow IAT Std', 'Flow IAT Max', 'Flow IAT Min', 'Fwd IAT Tot',
       'Fwd IAT Mean', 'Fwd IAT Std', 'Fwd IAT Max', 'Fwd IAT Min',
       'Bwd IAT Tot', 'Bwd IAT Mean', 'Bwd IAT Std', 'Bwd IAT Max',
       'Bwd IAT Min', 'Fwd PSH Flags', 'Bwd PSH Flags', 'Fwd URG Flags',
       'Bwd URG Flags', 'Fwd Header Len', 'Bwd Header Len', 'Fwd Pkts/s',
       'Bwd Pkts/s', 'Pkt Len Min', 'Pkt Len Max', 'Pkt Len Mean',
       'Pkt Len Std', 'Pkt Len Var', 'FIN Flag Cnt', 'SYN Flag Cnt',
       'RST Flag Cnt', 'PSH Flag Cnt', 'ACK Flag Cnt', 'URG Flag Cnt',
       'CWE Flag Count', 'ECE Flag Cnt', 'Down/Up Ratio', 'Pkt Size Avg',
       'Fwd Seg Size Avg', 'Bwd Seg Size Avg', 'Fwd Byts/b Avg',
       'Fwd Pkts/b Avg', 'Fwd Blk Rate Avg', 'Bwd Byts/b Avg',
       'Bwd Pkts/b Avg', 'Bwd Blk Rate Avg', 'Subflow Fwd Pkts',
       'Subflow Fwd Byts', 'Subflow Bwd Pkts', 'Subflow Bwd Byts',
       'Init Fwd Win Byts', 'Init Bwd Win Byts', 'Fwd Act Data Pkts',
       'Fwd Seg Size Min', 'Active Mean', 'Active Std', 'Active Max',
       'Active Min', 'Idle Mean', 'Idle Std', 'Idle Max', 'Idle Min']]

In [ ]:
data.index.name = 'date'
data

                      Label  Dst Port  Protocol  ...  Idle Std  Idle Max  Idle Min
date                                             ...
02/03/2018 08:47:38  Benign       443         6  ...       0.0       0.0       0.0
02/03/2018 08:47:38  Benign     49684         6  ...       0.0       0.0       0.0
02/03/2018 08:47:40  Benign       443         6  ...       0.0       0.0       0.0
02/03/2018 08:47:40  Benign       443         6  ...       0.0       0.0       0.0
02/03/2018 08:47:41  Benign       443         6  ...       0.0       0.0       0.0
...                     ...       ...       ...  ...       ...       ...       ...
02/03/2018 02:08:18  Benign      3389         6  ...       0.0       0.0       0.0
02/03/2018 02:08:22  Benign      3389         6  ...       0.0       0.0       0.0
02/03/2018 02:08:25  Benign      3389         6  ...       0.0       0.0       0.0
02/03/2018 02:08:29  Benign      3389         6  ...       0.0       0.0       0.0
02/03/2018 02:08:33  Benign      3389         6  ...       0.0       0.0       0.0

[1048575 rows x 79 columns]

In [ ]:
for i in range(1,1048576):
  if data[i,:].isin:
    print(data.iloc[:,i])
# 결측치 저리
# data['Flow Byts/s'].fillna(0,inplace=True)

In [ ]:
values = data.values
values

NameError: ignored

In [ ]:
# 문자 data encoding
encoder = preprocessing.LabelEncoder()
values[:,0] = encoder.fit_transform(values[:,0])
values  = values.astype('float64')

NameError: ignored

In [ ]:
values

array([[0.0000e+00, 4.4300e+02, 6.0000e+00, ..., 0.0000e+00, 0.0000e+00,
        0.0000e+00],
       [0.0000e+00, 4.9684e+04, 6.0000e+00, ..., 0.0000e+00, 0.0000e+00,
        0.0000e+00],
       [0.0000e+00, 4.4300e+02, 6.0000e+00, ..., 0.0000e+00, 0.0000e+00,
        0.0000e+00],
       ...,
       [0.0000e+00, 3.3890e+03, 6.0000e+00, ..., 0.0000e+00, 0.0000e+00,
        0.0000e+00],
       [0.0000e+00, 3.3890e+03, 6.0000e+00, ..., 0.0000e+00, 0.0000e+00,
        0.0000e+00],
       [0.0000e+00, 3.3890e+03, 6.0000e+00, ..., 0.0000e+00, 0.0000e+00,
        0.0000e+00]])

In [ ]:
# inf 값 처리
np.nan_to_num(values, copy=False)
values

array([[0.0000e+00, 4.4300e+02, 6.0000e+00, ..., 0.0000e+00, 0.0000e+00,
        0.0000e+00],
       [0.0000e+00, 4.9684e+04, 6.0000e+00, ..., 0.0000e+00, 0.0000e+00,
        0.0000e+00],
       [0.0000e+00, 4.4300e+02, 6.0000e+00, ..., 0.0000e+00, 0.0000e+00,
        0.0000e+00],
       ...,
       [0.0000e+00, 3.3890e+03, 6.0000e+00, ..., 0.0000e+00, 0.0000e+00,
        0.0000e+00],
       [0.0000e+00, 3.3890e+03, 6.0000e+00, ..., 0.0000e+00, 0.0000e+00,
        0.0000e+00],
       [0.0000e+00, 3.3890e+03, 6.0000e+00, ..., 0.0000e+00, 0.0000e+00,
        0.0000e+00]])

In [ ]:
scaler = preprocessing.MinMaxScaler(feature_range=(0,1))
scaled = scaler.fit_transform(values)

/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:87: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)
/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:87: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)